{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Inicio{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>TAREAS ASIGNADAS</h1>
        <div class="conteinermain">
        {% for tarea in tareas %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ tarea.titulo[:80] }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        {% if tarea.prioridad == 1 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        {% elseif tarea.prioridad == 2 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        {% elseif tarea.prioridad == 3 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        {% elseif tarea.prioridad == 4 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        {% else %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        {% endif %}</h6>

                    <p class="card-text">{{ tarea.descripcion[:120] }} ...</p>

                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
