.container{
    display: flex;
    margin-top: 5%;
    justify-content: center;
    padding: 2%;
}

.formulario{
    width: auto;
    padding: 3%;
    border: 4px hidden #1C6EA4;
    border-radius: 15px;
}

.formulario{
    -webkit-box-shadow: 0px 0px 55px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 55px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 55px -11px rgba(0,0,0,0.75);
}

#login-btn{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.btn{
    margin: 5%;
    display: flex;
    justify-content: center;
}
.formulario-campos{
    margin-top: 2%;
}